*{
    margin: 0;
    padding: 0;
   
}

@font-face {
  font-family: "Pompiere Static";
  src: url("./fonts/Pompiere-Static.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




body{
    font-family: "Playfair Display", Georgia, serif; 
    text-align: center;
    color: #f5e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    background-image: url("./snow_tree_cropped.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center 150px;
    background-color: #bedee3;
    
}


/* HEADER */

.logo img {
  width: 130px;
  height: auto;
  display: block;
}


 .logo {
  padding: 10px;
  border-radius: 12px; 
  position: absolute;    
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}  


header{
  font-family: "Playfair Display", Arial, Helvetica; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px; 
  width: 100%;               
  margin: 0;
   background: radial-gradient(circle at 30% 30%,
  rgb(255, 255, 255) 0%,
  rgba(245, 245, 245, 0.329) 40%,
  rgba(220, 220, 220, 0) 100%);
  padding: 0px 50px;
  z-index: 2;
  
}


.half-gif {
    position: absolute;
    top: 150px;
    right: 0;
    width: 250px;
    height: 250px;
    transform: translateX(50%);
    overflow: visible; 
    -webkit-mask-image: linear-gradient(to top right, transparent 0%, black 60%);
    mask-image: linear-gradient(to top right, transparent 0%, black 60%);
}
    



.half-gif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
     mix-blend-mode: lighten;
    opacity: 0.9;
}



.menu{
  position: absolute;
  top: 59px;
  right: 8%;
  transition: all 0.3s ease; 
}

 .menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* litt under teksten */
  width: 0%;
  height: 2px;
  background-color: #222;
  transition: width 0.3s ease;
}

.menu:hover{
  color: #222;
  text-shadow: 0 0 6px rgba(255,255,255,0.7);
  transform: translateY(-2px);
  }

  .menu:hover::after {
  width: 100%; /* linjen glir inn */
}


  .cart{
 position: absolute;
  top: 59px;
  left: 8%;
  transition: all 0.3s ease; 
  }

  .cart::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* litt under teksten */
  width: 0%;
  height: 2px;
  background-color: #222;
  transition: width 0.3s ease;
}

  .cart:hover{
    color: #222;
  transform: translateY(-2px) ;
  }

.menu, .cart {
  font-size: 1rem;
  cursor: pointer;
   z-index: 3;
  color: #715858
}

.cart:hover::after {
  width: 100%; 
}


 .info{
  padding: 50px;
  font-family: "Pompiere Static", "Cascadia Code", "Playfair Display", Georgia, serif; 
  font-size: 1.3rem;
  font-weight: 400;
  color: #683535; 
  max-width: 1200px;
  text-shadow: 0 1px 2px rgba(255,255,255,0.6);
  line-height: 1.4;         
  letter-spacing: 0.5px;
 }


/*------------------- KALENDER------------------- */


#calendar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 600px;
    margin: 30px;
}


.luke {
  background: linear-gradient(145deg, #8b0000, #a00000);
  color: #f8f6f6;
  cursor: url(./wand-cursor.png) 0 0, auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 7px rgba(0, 0, 0, 0.4),
    0 6px 10px rgba(0, 0, 0, 0.4);
  background-image:
    linear-gradient(145deg, rgba(208, 15, 15, 0.05), rgba(234, 221, 221, 0.1)),
    url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-size: cover;
  background-blend-mode: overlay;
  position: relative; 
  overflow: visible;  
  z-index: 0;   
}



/* Hover  */
.luke:hover,
.luke.åpnet {
  z-index: 10;
  transform: translateY(-4px) scale(1.05);
}

/* GIF wrapper */
.luke-gif-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
  z-index: 0;          
}

/* GIF  */
.luke-gif-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease;
   -webkit-mask-image: linear-gradient(to top right, transparent 0%, black 30%);
  mask-image: linear-gradient(to top right, transparent 0%, black 30%);
}

/*  show GIF when hover */
.luke:hover .luke-gif-wrapper img {
  opacity: 0.9;
}

/* Text and number over GIF */
.luke-tall, .rabatt, .kodeEl {
  position: relative;
  z-index: 1;
}



.luke-ikon {
  width: 40px;
  height: 40px;
  margin-left: 6px;
  vertical-align: middle;
}

.luke-tall {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.9); 
}

@keyframes myAnimation {
  from { transform: translateY(0) scale(1); background-color: rgb(68, 98, 128); }
  to { transform: translateY(20px) scale(1.5); background-color: rgb(214, 239, 245); }
}

.luke.åpnet {
  animation-name: myAnimation;
  animation-duration: 0.5s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
   background-color: rgb(152, 235, 245);
    color: black;
    transform: scale(1.05);
}



.kodeEl {
  font-size: 11px;
  color: #333;
  font-style: italic;
  margin-top: 8px;
  text-align: center; 
}


/* rabatten slide inn  */
.rabatt {
  font-size: 11px;
  color: black;
  text-align: left;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
}



.åpnet .rabatt {
  transform: translateY(0);
  opacity: 1;
}

.footer a {
  color: #44687c;
  text-decoration: none;
}

.footer a:hover {
  color: #5aa2c9; 
  text-decoration: underline;
}